
Conversation opened. 1 unread message.

Skip to content
Using Gmail with screen readers
10 of 20,703
css
Inbox

Ajaydeep Samra <asamra37@gmail.com>
2:46 PM (7 hours ago)
to me

body {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    background-color: green;
    }
.intro {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 250px;
    background-color: aqua;

}

.lintro {
    display: flex;
    background-color: red;
    flex: 1;
    flex-wrap: wrap;
    padding-left: 150px;
    height:200px;
}
.rintro {
    display: flex;
  background-color: blue;
  flex: 1;
  padding-right: 150px;
  height: 200px;
}
.middle{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.middle-header{
    display: flex;
    background-color: red;
    flex: 1;
}
.card-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    flex-grow: 0;
    width: 60%;
    height: 180px;
    justify-content: space-between;
}
.card{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex: 0;
flex-wrap: wrap;
margin-top: 20px;
background-color: orange;
}
.img{
    display: flex;
    border: 5px solid blue;
    border-radius: thick;
}
.middle-footer{
display: flex;
background-color: blueviolet;
margin-top: 5%;
width: 100%;
height: 175px;
justify-content: space-around;
align-items: center;
}
.action {
    display: flex;
    flex-direction: column;
    
}
.action-left{
    display: flex;

}
.action-right{
display: flex;

}
.footer {
display: flex;

}
ul li {
    text-decoration: none;
    list-style:none;
    display: inline;
}
